@import helper._
@import uk.gov.hmrc.govukfrontend.views.html.components._
@import uk.gov.hmrc.examplefrontend.model.{UserBusinessType, UserBusinessTypeForm}
@this(layout: Layout,govukInput: GovukInput, govukErrorSummary: GovukErrorSummary)
@(form: Form[UserBusinessType],isUpdate:Boolean)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = Some("Select Business Type")) {
<a href="@uk.gov.hmrc.examplefrontend.controllers.routes.PropertyController.InputProperty(isUpdate)" class="govuk-back-link">Back</a>

<h1 class="govuk-heading-xl" id="Name Value">Please select your business type</h1>
@if(form.errors.nonEmpty){

@defining(form.errors.map { error =>
    ErrorLink(href = Some(s"#${error.key}"), content = Text(messages(error.message, error.args:_*)))}) { errorLinks =>
    @govukErrorSummary(ErrorSummary(
    errorList = errorLinks,
    title = Text(messages("Please select your business type"))))
    }
}

@helper.form(action = uk.gov.hmrc.examplefrontend.controllers.routes.BusinessTypeController.SubmitInputBusinessType(isUpdate),'class -> "govuk-body"){
<div class="govuk-form-group">
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            </legend>
            <div class="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="business-sole-trader" name="businessType" type="radio"
                           value="Sole Trader">
                    <label class="govuk-label govuk-radios__label" for="business-sole-trader">
                        Sole trader.
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="business-partnership" name="businessType" type="radio"
                           value="Partnership">
                    <label class="govuk-label govuk-radios__label" for="business-partnership">
                        Partnership.
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="business-private-limited" name="businessType" type="radio"
                           value="Private Limited">
                    <label class="govuk-label govuk-radios__label" for="business-private-limited">
                        Private Limited.
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="business-public-limited" name="businessType" type="radio"
                           value="Public Limited">
                    <label class="govuk-label govuk-radios__label" for="business-public-limited">
                        Public Limited.
                    </label>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<button class="govuk-button" id="submit" data-module="govuk-button" type="submit">Next</button>
}
}

