@import helper._
@import uk.gov.hmrc.examplefrontend.model.{Client}
@this(layout: Layout)
@(result: Client)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = Some("Application Complete")) {


<h1 class="govuk-heading-xl">Account successfully created</h1>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">
                        Application complete
                    </h1>
                    <div class="govuk-panel__body">
                        Your reference number<br><strong id="crn">@result.crn</strong>
                    </div>
                </div>
                <p class="govuk-body">We have sent you a confirmation email.</p>
                <p class="govuk-body">Please Remember this Number as it will be used for authentication.</p>
            </div>
        </div>
    </main>
</div>

<div class="govuk-button-group">
    <a class="govuk-button" id="submit" data-module="govuk-button"
       href="@uk.gov.hmrc.examplefrontend.controllers.routes.RegistrationController.dashboard">
        Continue
    </a>
</div>
}