@import helper._
@import uk.gov.hmrc.govukfrontend.views.html.components._
@import uk.gov.hmrc.examplefrontend.model.{UserName, UserNameForm}
@this(layout: Layout,govukInput: GovukInput, govukErrorSummary: GovukErrorSummary)
@(form: Form[UserName],isUpdate:Boolean)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = Some("Enter Name")) {
<a href="@uk.gov.hmrc.examplefrontend.controllers.routes.RegistrationController.home" class="govuk-back-link">Back</a>

<h1 class="govuk-heading-xl" id="Name Value">Enter Name</h1>
@if(form.errors.nonEmpty){

@defining(form.errors.map { error =>
    ErrorLink(href = Some(s"#${error.key}"), content = Text(messages(error.message, error.args:_*)))}) { errorLinks =>
    @govukErrorSummary(ErrorSummary(
    errorList = errorLinks,
    title = Text(messages("Ensure your name is not empty"))))
    }
}
@helper.form(action = uk.gov.hmrc.examplefrontend.controllers.routes.NameController.SubmitInputName(isUpdate),'class -> "govuk-body"){
@if(form.errors("name").nonEmpty){
    @govukInput(Input(id = "name", name = "name", value = Some(form.data("name")), label = Label(content = Text("Full name:")), hint = Some(Hint(content = Text("Enter your full name, for example - 'John Smith'"))), errorMessage = Some(ErrorMessage(content = Text("Please provide your First Name and Last Name")))))
}else{
    @govukInput(Input(id = "name", name = "name", value = Some(form.data("name")), hint = Some(Hint(content = Text("Enter your full name, for example - 'John Smith'"))), label = Label(isPageHeading = true, classes = "govuk-label--l, name, govuk-input-error", content = Text("Full name:"))))
}
<button class="govuk-button" id="submit" data-module="govuk-button" type="submit">Next</button>
}


}