@import helper._
@import uk.gov.hmrc.govukfrontend.views.html.components._
@import uk.gov.hmrc.examplefrontend.model.{UserName, UserNameForm}
@this(layout: Layout,govukInput: GovukInput, govukErrorSummary: GovukErrorSummary)
@(form: Form[UserName])(implicit request: Request[_], messages: Messages)

@layout(pageTitle = Some("Enter Name")) {
<h1 class="govuk-heading-xl", id="Name Value">Enter Name</h1>
@if(form.errors.nonEmpty){

<span id="passport-issued-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> Please enter full name
        </span>
}

<a href="/example-frontend" class="govuk-back-link">Back</a>
@helper.form(action = uk.gov.hmrc.examplefrontend.controllers.routes.RegistrationController.SubmitInputName,'class -> "govuk-body"){
@if(form.errors("name").nonEmpty){
@govukInput(Input(id = "name", name = "name", value = Some(form.data("name")), label = Label(content = Text("Name Title:")), hint = Some(Hint(content = Text("example: jake"))), errorMessage = Some(ErrorMessage(content = Text("Please provide your First Name and Last Name")))))
}else{
@govukInput(Input(id = "name", name = "name", value = Some(form.data("name")), label = Label(isPageHeading = true, classes = "govuk-label--l, name, govuk-input-error", content = Text("name"))))
}
<button class="govuk-button" data-module="govuk-button" type="submit">Next</button>
}


}