@import helper._

@import uk.gov.hmrc.govukfrontend.views.html.components._
@import uk.gov.hmrc.examplefrontend.model.{UserPassword, UserPasswordForm}
@this(layout: Layout,govukInput: GovukInput, govukErrorSummary: GovukErrorSummary)
@(form: Form[UserPassword])(implicit request: Request[_], messages: Messages)



@layout(pageTitle = Some("Enter Password")) {
<a href="@uk.gov.hmrc.examplefrontend.controllers.routes.RegistrationController.InputBusinessType" class="govuk-back-link">Back</a>
<h1 class="govuk-heading-xl" id="Password Value">Enter Password</h1>

@if(form.errors.nonEmpty){
@defining(form.errors.map { error =>
    ErrorLink(href = Some(s"#${error.key}"), content = Text(messages(error.message, error.args:_*)))}) { errorLinks =>
    @govukErrorSummary(ErrorSummary(
    errorList = errorLinks,
    title = Text(messages("Please select your business type"))))
    }
}
@helper.form(action = uk.gov.hmrc.examplefrontend.controllers.routes.RegistrationController.SubmitInputPassword,'class -> "govuk-body"){
@if(form.errors("password").nonEmpty){
    @govukInput(Input(id = "password",inputType = "password", name = "password", value = Some(form.data("password")), label = Label(content = Text("Password:")), hint = Some(Hint(content = Text("Please enter your password, secure passwords have a mix of letters and numbers, for example - 'P'"))), errorMessage = Some(ErrorMessage(content = Text("Please provide a valid password")))))
}else{
    @govukInput(Input(id = "password",inputType = "password", name = "password", value = Some(form.data("password")), hint = Some(Hint(content = Text("Your password must be 10 or more characters. You can use a mix of letters, numbers or symbols."))), label = Label(isPageHeading = true, classes = "govuk-label--l, email, govuk-input-error", content = Text("Password:"))))
}
@if(form.errors("passwordCheck").nonEmpty){
    @govukInput(Input(id = "passwordCheck", inputType = "password", name = "passwordCheck", value = Some(form.data("passwordCheck")), label = Label(content = Text("Password:")), hint = Some(Hint(content = Text("Enter the same password as the one you entered above"))), errorMessage = Some(ErrorMessage(content = Text("Please ensure passwords match")))))
}else{
    @govukInput(Input(id = "passwordCheck", inputType = "password",name = "passwordCheck", value = Some(form.data("passwordCheck")), hint = Some(Hint(content = Text("Enter the same password as the one you entered above"))), label = Label(isPageHeading = true, classes = "govuk-label--l, email, govuk-input-error", content = Text("Re-enter your password:"))))
}
<button class="govuk-button" id="submit" data-module="govuk-button" type="submit">Next</button>
}
}