@import helper._

@import uk.gov.hmrc.govukfrontend.views.html.components._
@import uk.gov.hmrc.examplefrontend.model.{UserPassword, UserPasswordForm}
@this(layout: Layout,govukInput: GovukInput, govukErrorSummary: GovukErrorSummary)
@(form: Form[UserPassword])(implicit request: Request[_], messages: Messages)



@layout(pageTitle = Some("Enter Password")) {
<h1 class="govuk-heading-xl",id="Password Value">Enter Password</h1>
<a href="@uk.gov.hmrc.examplefrontend.controllers.routes.RegistrationController.InputBusinessType" class="govuk-back-link">Back</a>
@helper.form(action = uk.gov.hmrc.examplefrontend.controllers.routes.RegistrationController.SubmitInputPassword,'class -> "govuk-body"){
@if(form.errors("password").nonEmpty){
@govukInput(Input(id = "password", name = "password", value = Some(form.data("password")), label = Label(content = Text("Password:")), hint = Some(Hint(content = Text("example: Pa$$word! "))), errorMessage = Some(ErrorMessage(content = Text("Please provide a valid password")))))
}else{
@govukInput(Input(id = "password", name = "password", value = Some(form.data("password")), label = Label(isPageHeading = true, classes = "govuk-label--l, email, govuk-input-error", content = Text("Password:"))))
}
<button class="govuk-button" id="submit" data-module="govuk-button" type="submit">Next</button>
}
}