@import helper._
@import uk.gov.hmrc.govukfrontend.views.html.components._
@import uk.gov.hmrc.examplefrontend.model.{UserProperty, UserPropertyForm}
@this(layout: Layout,govukInput: GovukInput, govukErrorSummary: GovukErrorSummary)
@(form: Form[UserProperty],isUpdate:Boolean)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = Some("Enter Address")) {
<a href="@uk.gov.hmrc.examplefrontend.controllers.routes.ContactNumberController.InputContactNumber(isUpdate)" class="govuk-back-link">Back</a>

<h1 class="govuk-heading-xl"  id="Name Value">Enter Property number and address</h1>
@if(form.errors.nonEmpty){
@defining(form.errors.map { error =>
    ErrorLink(href = Some(s"#${error.key}"), content = Text(messages(error.message, error.args:_*)))}) { errorLinks =>
    @govukErrorSummary(ErrorSummary(
    errorList = errorLinks,
    title = Text(messages("Ensure both fields are completed"))))
    }
}

@helper.form(action = uk.gov.hmrc.examplefrontend.controllers.routes.PropertyController.SubmitInputProperty(isUpdate),'class -> "govuk-body"){
@if(form.errors("propertyNumber").nonEmpty){
    @govukInput(Input(id = "property-number", name = "propertyNumber", value = Some(form.data("propertyNumber")), label = Label(content = Text("Property Number")), hint = Some(Hint(content = Text("The house number you live at, for example - '103b'"))), errorMessage = Some(ErrorMessage(content = Text("Please provide a valid house number")))))
}else{
    @govukInput(Input(id = "property-number", name = "propertyNumber", value = Some(form.data("propertyNumber")), hint = Some(Hint(content = Text("The house number you live at, for example - '103b'"))), label = Label(isPageHeading = true, classes = "govuk-label--l, name, govuk-input-error", content = Text("Property Number"))))
}
@if(form.errors("postcode").nonEmpty){
    @govukInput(Input(id = "postcode", name = "postcode", value = Some(form.data("postcode")), label = Label(content = Text("Postcode")), hint = Some(Hint(content = Text("The postcode where you live, for example - 'HA8 N3Y'"))), errorMessage = Some(ErrorMessage(content = Text("Please provide a valid postcode")))))
}else{
    @govukInput(Input(id = "postcode", name = "postcode", value = Some(form.data("postcode")), hint = Some(Hint(content = Text("The postcode where you live, for example - 'HA8 N3Y'"))), label = Label(isPageHeading = true, classes = "govuk-label--l, name, govuk-input-error", content = Text("Postcode"))))
}
<button class="govuk-button" id="submit" data-module="govuk-button" type="submit">Continue</button>
@if(isUpdate) {
    <hr>
    <a href="@uk.gov.hmrc.examplefrontend.controllers.routes.SummaryController.Summary(isUpdate)" class="govuk-link cancel">Cancel</a>
}
}
}