@import helper._
@import uk.gov.hmrc.govukfrontend.views.html.components._
@import uk.gov.hmrc.examplefrontend.model.{UserProperty, UserPropertyForm}
@this(layout: Layout,govukInput: GovukInput, govukErrorSummary: GovukErrorSummary)
@(form: Form[UserProperty])(implicit request: Request[_], messages: Messages)

@layout(pageTitle = Some("Enter Name")) {
<h1 class="govuk-heading-xl", id="Name Value">Enter Property number and address</h1>
@if(form.errors.nonEmpty){

<span id="passport-issued-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> Please enter property and full property address
        </span>
}

<a href="@uk.gov.hmrc.examplefrontend.controllers.routes.RegistrationController.InputContactNumber" class="govuk-back-link">Back</a>
@helper.form(action = uk.gov.hmrc.examplefrontend.controllers.routes.RegistrationController.SubmitInputProperty,'class -> "govuk-body"){
@if(form.errors("postcode").nonEmpty){
@govukInput(Input(id = "Postcode", name = "postcode", value = Some(form.data("postcode")), label = Label(content = Text("Postcode:")), hint = Some(Hint(content = Text("example: HA8 NEY"))), errorMessage = Some(ErrorMessage(content = Text("Please provide a valid postcode")))))
}else{
@govukInput(Input(id = "Postcode", name = "postcode", value = Some(form.data("postcode")), label = Label(isPageHeading = true, classes = "govuk-label--l, name, govuk-input-error", content = Text("name"))))
}
@if(form.errors("propertyNumber").nonEmpty){
@govukInput(Input(id = "Property Number", name = "propertyNumber", value = Some(form.data("propertyNumber")), label = Label(content = Text("Property Number:")), hint = Some(Hint(content = Text("example: 10"))), errorMessage = Some(ErrorMessage(content = Text("Please provide a valid number")))))
}else{
@govukInput(Input(id = "Property Number", name = "propertyNumber", value = Some(form.data("propertyNumber")), label = Label(isPageHeading = true, classes = "govuk-label--l, name, govuk-input-error", content = Text("name"))))
}
<button class="govuk-button" data-module="govuk-button" type="submit">Next</button>
}


}