@import helper._
@import uk.gov.hmrc.examplefrontend.model.User
@this(layout: Layout)
@(result:User)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = Some("result")) {
<h1 class="govuk-heading-xl">User Info</h1>
<form action="example/NameInput">
  <dl class="govuk-summary-list">

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Name:
      </dt>
      <dd class="govuk-summary-list__value" id="NameValue">
        @result.name
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/example-frontend/NameInput">
          Change<span class="govuk-visually-hidden"> name</span>
        </a>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Business Name:
      </dt>
      <dd class="govuk-summary-list__value" id="BusinessNameValue">
        @result.businessName
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/example-frontend/EmailInput">
          Change<span class="govuk-visually-hidden"> date of birth</span>
        </a>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Contact Number:
      </dt>
      <dd class="govuk-summary-list__value" id="ContactValue">
        @result.contactNumber
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/example-frontend/AgeInput">
          Change<span class="govuk-visually-hidden"> contact information</span>
        </a>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Property
      </dt>
      <dd class="govuk-summary-list__value" id="PropertyValue">
        <p class="govuk-body">@result.propertyNumber @result.postcode</p>
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/example-frontend/PasswordInput">
          Change<span class="govuk-visually-hidden"> contact details</span>
        </a>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Business Type
      </dt>
      <dd class="govuk-summary-list__value" id="PasswordValue">
        <p class="govuk-body">@result.businessType</p>
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/example-frontend/PasswordInput">
          Change<span class="govuk-visually-hidden"> contact details</span>
        </a>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Password
      </dt>
      <dd class="govuk-summary-list__value" id="PasswordValue">
        <p class="govuk-body">@result.password</p>
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/example-frontend/PasswordInput">
          Change<span class="govuk-visually-hidden"> contact details</span>
        </a>
      </dd>
    </div>
  </dl>
  <a href="/example-frontend/PasswordInput" class="govuk-back-link">Back</a>
  <a class="govuk-button" data-module="govuk-button" id="submitButton" type="submit" href="/example-frontend/SummarySubmit">Submit</a>
</form>
}