@import helper._
@import uk.gov.hmrc.examplefrontend.model.User
@this(layout: Layout)
@(result:User,isUpdate:Boolean)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = Some("Summary")) {
<a href="@uk.gov.hmrc.examplefrontend.controllers.routes.PasswordController.InputPassword(isUpdate)" class="govuk-back-link">Back</a>
<h1 class="govuk-heading-xl">User Info</h1>
<div id="with-hint-hint" class="govuk-hint">
    Below are the details you have entered. If these are correct press submit to continue to complete the process or you can alter details below.<br>
    Please ensure these are correct, as some details cannot be changed after submission.
</div>
<form action="example/NameInput">
    <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Name
            </dt>
            <dd class="govuk-summary-list__value" id="name-value">
                @result.name
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="@uk.gov.hmrc.examplefrontend.controllers.routes.NameController.InputName(isUpdate = true)">
                    Change<span class="govuk-visually-hidden">Name</span>
                </a>
            </dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Business Name
            </dt>
            <dd class="govuk-summary-list__value" id="business-name-value">
                @result.businessName
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="@uk.gov.hmrc.examplefrontend.controllers.routes.BusinessNameController.InputBusinessName(isUpdate = true)">

                    Change<span class="govuk-visually-hidden">Business Name</span>
                </a>
            </dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Contact Number
            </dt>
            <dd class="govuk-summary-list__value" id="contact-value">
                @result.contactNumber
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="@uk.gov.hmrc.examplefrontend.controllers.routes.ContactNumberController.InputContactNumber(isUpdate = true)">

                    Change<span class="govuk-visually-hidden">Contact Number</span>
                </a>
            </dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Property
            </dt>
            <dd class="govuk-summary-list__value" id="property-value">
                <p class="govuk-body">@result.propertyNumber , @result.postcode</p>
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="@uk.gov.hmrc.examplefrontend.controllers.routes.PropertyController.InputProperty(isUpdate = true)">

                    Change<span class="govuk-visually-hidden">Property Details</span>
                </a>
            </dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Business Type
            </dt>
            <dd class="govuk-summary-list__value" id="business-type-value">
                <p class="govuk-body">@result.businessType</p>
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="@uk.gov.hmrc.examplefrontend.controllers.routes.BusinessTypeController.InputBusinessType(isUpdate = true)">

                    Change<span class="govuk-visually-hidden">Business Type</span>
                </a>
            </dd>
        </div>

    </dl>
    <a class="govuk-button" data-module="govuk-button" id="submit" type="submit"
       href="@uk.gov.hmrc.examplefrontend.controllers.routes.SummaryController.SummarySubmit">Submit</a>
</form>
}